%h1 Board

#board{ 'data-lists' => @lists.to_json(include: 'cards') }
  .list.panel.panel-default{ 'v-for' => 'list in lists' }
    .panel-body
      .list-name {{ list.name }}
      .card{ 'v-for' => 'card in list.cards'}
        {{ card.content }}

      %a.add-card カードを追加
